<div class="login">
  <h1>Login</h1>
  <div class="login-container">
    <form [formGroup]="loginForm" class="auth-form" (ngSubmit)="onSubmit()">

      <div class="form-control">

        <label for="email">Email</label>
        <input type="email" placeholder="Enter your email" formControlName="email"
          [ngClass]="{'inpur-error': loginForm.controls.email.invalid && isSubmitted}" #userEmail>

      </div>

      <div class="form-control">

        <label for="password">Password</label>
        <input type="password" [ngClass]="{'inpur-error': loginForm.controls.password.invalid && isSubmitted}"
          placeholder="Enter password" formControlName="password">


        <div *ngIf="loginForm.controls.password.invalid && isSubmitted" class="form-control-validators">
          <i class="form-error"></i>
          <span>Incorrect email or password</span>
        </div>

      </div>


      <div class="form-check">
        <label class="control control-checkbox">
          Remember me
          <input type="checkbox" formControlName='rememberMe' id="rememberMe" />
          <div class="control_indicator"></div>
        </label>
        <a (click)='forgotPass(userEmail.value)'>Forgot Password?</a>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="red-btn">Login</button>
    </form>

    <div class="oAuth">
      <p class="smaller-p">Or sign in with:</p>
      <div>
        <div><img src="assets/icons/oAuth-google.svg" alt=""> Google</div>
        <div><img src="assets/icons/oAuth-facebook.svg" alt="">Facebook</div>
      </div>

    </div>
  </div>
</div>
