$black: #000000;
$dark-gray-color: rgba($black, 0.7);
$gray-color: rgba($black, 0.5);
$dark-blue: #EC5B60;
$white-color: #F0F0F0;
$red-color: #FF7395;
$easy-blue: #EAECFB;
$easy-purple: #F6EAFB;
$easy-peach: #F9F2E9;

$black: #242938;
$white: #FFFFFF;
$red: #EC5B60;
$blue: #5B7492;
$gray: #F6F6F7;
$red-light: #FDEFEF;
$red-medium: #AD5B5B;
$red-strog: #804141;
