<main class="vsa">
  <app-welcome-banner [wcBanner]='cscpdDummy.WcBanner'></app-welcome-banner>
  <app-browse-jobs [jobList]="cscpdDummy.JobList"></app-browse-jobs>
  <app-multistep-info [mlsInfo]='cscpdDummy.mlsInfo'></app-multistep-info>
  <app-multistep-info [mlsInfo]='cscpdDummy.mlsInfo2'></app-multistep-info>
  <app-arrow-banner [arrBanner]='cscpdDummy.arrBanner'></app-arrow-banner>
  <app-skill-set [skillSet]='cscpdDummy.skillSet'></app-skill-set>
  <app-arrow-banner [arrBanner]='cscpdDummy.arrBanner2'></app-arrow-banner>
  <div class="how-succ">
    <h3>How Can I Become a Successful, Confident Client Success Coach?</h3>
    <p class="gray">
      Confidence is one of the top characteristics of an effective Clients Success Coach, and much of your expertise in
      a program and its strategies will be built over time in your role. Growing your expertise happens in three steps:
    </p>
    <div>
      <div class="how-succ-step">
        <img src="/assets/icons/how-become1.svg" alt="">
        <p>Learn employers strategies and become a program expert</p>
      </div>
      <img src="/assets/vectors-new/apply-arr2.svg" alt="">
      <div class="how-succ-step">
        <img src="/assets/icons/how-become2.svg" alt="">
        <p>Start taking on coaching responsibilities</p>
      </div>
      <img src="/assets/vectors-new/apply-arr2.svg" alt="">
      <div class="how-succ-step">
        <img src="/assets/icons/how-become3.svg" alt="">
        <p>Get to know clients, their goals and build rapport</p>
      </div>
    </div>
    <p class="gary">
      Before you know it, you will be able to confidently coach clients inside an online program towards achieving their unique life or business goals using the tools and strategies provided in the online course, program, or membership.
    </p>
  </div>
  <app-arrow-banner [arrBanner]='cscpdDummy.arrBanner3'></app-arrow-banner>

  <app-buss-list [bussList]='cscpdDummy.bussList'></app-buss-list>
  <app-apply [apply]='cscpdDummy.apply'></app-apply>
  <app-table [table]='cscpdDummy.table'></app-table>
  <app-resources [res]='cscpdDummy.res'></app-resources>
  <app-arrow-banner [arrBanner]='cscpdDummy.arrBanner4'></app-arrow-banner>
  <app-interested></app-interested>
</main>
