.fb-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/fb-icon.svg");
  opacity: 0.5;
}
.insta-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/insta-icon.svg");
  opacity: 0.5;
}
.pt-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/pt-icon.svg");
  opacity: 0.5;
}
.arw-down-icon {
  display: block;
  width: 8px;
  height: 4px;
  background-image: url("../../icons/arw-down.svg");
  margin: 6px;
}
.nav-arr-right-icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../../icons/nav-arr-right.svg");
}

.web-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/web-icon.svg");
}
.job-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/job.svg");
}
.clock-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/clock.svg");
}
.share-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/share-icon.svg");
}
.like-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/like-icon.svg");
}
.buss-list-icon {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/buss-list.svg");
}
.apply-number-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba($color: $black, $alpha: 0.1);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    z-index: -1;
    border-radius: 50%;
    -o-transform: translateX(50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: $red;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
  }
}
.back-arrow {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/back-arrow.svg");
}
.form-error {
  display: block;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/form-error.svg");
}
.user-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/user-icon.svg");
}
.location-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/location-icon.svg");
}
.clock-icon2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/clock-icon.svg");
}
.paper-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/paper-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.users-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/users-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.trash-icon {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("../../icons/trash-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.search-blue {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/search-blue.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.delete-red {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/delete-red.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.settings-icon {
  height: 32px;
  width: 32px;
  display: block;
  background-image: url("../../icons/settings-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.atention-icon {
  height: 16px;
  width: 16px;
  display: block;
  background-image: url("../../icons/atention-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pause-icon {
  height: 16px;
  width: 16px;
  display: block;
  background-image: url("../../icons/pause-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.edit-icon {
  height: 16px;
  width: 16px;
  display: block;
  background-image: url("../../icons/edit-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
