
<div class="test-block">
  <app-header></app-header>
  <div class="about">
    <div class="about-welcome">
      <div>
        <div>
          <h1>We’re ProFlourish and We’re Obsessed With Your Virtual Team!</h1>
          <p>Welcome to our one-of-a-kind platform for job seekers and the powerful <br>
            entrepreneurial teams waiting to hire them. </p>
        </div>
        <img src="/assets/images/about.svg" alt="">
      </div>
    </div>
    <div class="about-content">
      <div>
        <h5>We stand for…</h5>
        <h3>Entrepreneurship & Relentless Optimism</h3>
        <p class="gray">
          We know the courage it takes to leap into business ownership and bet on yourself. Our deep desire to help you
          and your business succeed was the catalyst for the conception of ProFlourish. <br><br>

          We value your entrepreneurship and the relentless optimism it takes to invest your time and money in your
          passions, create an online business based on your big idea, and become the change you want to see for those
          around you.<br><br>

          We’re for the virtual job seekers and CEOs that use our platform - the risk takers, the big dreamers, the
          creative thinkers - and our big idea succeeds here, when you meet on this platform.
          <br><br>
          As entrepreneurs ourselves, you better believe we do a happy dance each time someone finds a virtual dream job,
          or a virtual team grows, using our platform!
        </p>
      </div>
      <img src="/assets/images/about1.svg" alt="">
    </div>

    <div class="about-content2">
      <div>
        <img src="/assets/images/about2.svg" alt="">
        <div>
          <h5>We stand for…</h5>
          <h3>A Spirit of Fun </h3>
          <p class="gray">
            We wholeheartedly know that culture is e-v-e-r-y-t-h-i-n-g in an online business, which is why we’re 100% for
            operating with a spirit of fun in everything we do. <br><br>

            Working or running a business virtually is steeped in freedom, collaboration and endless growth opportunities.
            Does it get more fun? Hang around here long enough and we’ll get you in the spirit! <br><br>

            Jobs listed on our site boast location freedom, meaning they’re 80-100% virtual, and offer virtual job seekers
            the chance to work in unique niches and industries with some of the most innovative, successful online
            entrepreneurs and changemakers on the internet - and around the globe!<br><br>

            If you’re using our platform to grow your remote team, we encourage you to highlight the true fun in joining
            your business. If you’re here to find a job, we’re so excited to open your eyes to the possibilities of
            working in one of these powerful virtual dream teams.<br><br>

            <strong>Bring on the fun!</strong>
          </p>
        </div>
      </div>

    </div>

    <div class="about-content">
      <div>
        <h5>We stand for…</h5>
        <h3>Valuing & Honoring People</h3>
        <p class="gray">
          We believe in the importance of making sure each and every person on a virtual team knows their work matters,
          and that they make a difference - because they do! Fostering a culture of value, appreciation, and honour, is
          paramount for us at ProFlourish; our people are our pillars. <br><br>

          Everyday we action our core beliefs of:<br>
          - Recognizing people's uniqueness, talent, and experience<br>
          - Honouring people’s time<br>
          - Being kind in our communication and how we act<br>
          - Creating a workplace culture that is rewarding every single day<br><br>

          <strong>Everyone is welcome!</strong><br>
          We promote diversity, equity, and inclusion, and believe powerful teams are teams who cultivate inclusivity at
          all levels of business.<br><br>

          We want virtual teams operating globally to find incredible people and do incredible work together. We know that
          businesses that are diverse in age, gender identity, race, sexual orientation, physical ability, ethnicity, and
          perspective are going to flourish above all others.<br><br>

          As an online business, you have the opportunity to build a unique work culture for virtual job seekers ready to
          help you raise the bar for what you even dreamed possible.
        </p>
      </div>
      <img src="/assets/images/about3.svg" alt="">
    </div>

    <div class="review">
      <div>

        <div class="review-content">
          <div>
            <h3>Why Use ProFlourish?</h3>
            <p class="gray">
              We were virtual job seekers and team members long before we were entrepreneurs bringing you our ProFlourish

        platform.
              <br><br>
              Over our years of virtual work, we saw a huge gap in the market: there was nowhere for online entrepreneurs
              and business owners to go to find qualified, virtual candidates for jobs inside their fast-growing
              businesses
              - no platform, at least, that truly ‘got it’. We set out to be that corner of the internet. We understand
              how
              your online business works, the creative ways and avenues through which you generate revenue, and the people
              and positions you need to hire to reach your maximum potential as a business.
              <br><br>
              We are committed to drawing in an audience of dream virtual candidates that also understand the benefits for
              working in a flourishing virtual business like yours.

              <br><br>
              <strong> Welcome home!</strong>
            </p>
          </div>
          <img src="/assets/images/about4.svg" alt="">
        </div>

        <div class="review-cards">
          <div>
            <h4>Laura Capaldo</h4>
            <p class="gray fs-14">
              Having worked in the online business world for over 5 years, Laura lets her love of people lead the way in
              everything she does! <br><br>

              With expertise in Client Experience, Team Management and Leadership - it’s been a lifelong dream for Laura’s
              entrepreneurial streak to flourish.<br><br>

              Laura is on a mission with ProFlourish, to ensure people feel valued, excited and fulfilled by work that
              truly lights them up on the inside.
            </p>
          </div>
          <div>
            <h4>Christie Van Tol</h4>
            <p class="gray fs-14">
              Christie fell face-first into the online business world from her education and marketing backgrounds - and
              hasn’t looked back since. She truly values freedom, adventure and a "workplace that feels like home".
              <br><br>

              With an analytical brain, attention to detail off the charts and a deep found care of how people experience
              their workplaces, Christie brings the joy and fun to ProFlourish.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="about-content3">
      <div>
        <h3>Why Use ProFlourish?</h3>
        <p class="gray">
          There is no shortage of online job search platforms, but what makes ProFlourish unique is our deep understanding
          of this growing online industry we all play in. <br><br>

          We understand that a virtual business doesn’t operate quite the same way as a ‘traditional’ business. We also
          know what kind of support you need, and the roles that exist, to help grow and scale your business.
          <br><br>
          <strong> Your mom might not understand how your business makes <br> money online - but we do! </strong>
        </p>
      </div>
      <img src="/assets/images/about5.svg" alt="">
    </div>

    <div class="created">
      <div class="created-block">
        <h3>We’re created exclusively for:</h3>
        <div class="buss-list">
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Solopreneurs</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Influencers </p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Content Creators</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Course Creators</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Coaches</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Thought Leaders</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Service Providers</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Creatives</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Online Industry Experts….</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Virtual Agencies</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>Bloggers</p>
          </div>
          <div class="buss-list-item">
            <i class="buss-list-icon"></i>
            <p>...and the epic team you’re looking to hire!</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
