@import "/src/assets/scss/colors";

.cookie {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  * {
    color: $white-color;
  }
  a {
    text-decoration: underline;
  }
}
header {
  height: 60px;
  background-color: $gray;
  display: flex;
  justify-content: center;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    > div,
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    nav > a{
      font-weight: 600;
    }
    nav > a,nav > p {
      margin-right: 50px;
      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
    h4 {
      cursor: pointer;
    }
  }
}
.drop-down {
  position: relative;
  margin-right: 50px;
  z-index: 1;
  &-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    i {
      transition: transform 0.1s linear;
      -webkit-transition: transform 0.1s linear;
      -moz-transition: transform 0.1s linear;
      -ms-transition: transform 0.1s linear;
      -o-transition: transform 0.1s linear;
    }
  }
  &:hover i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  &-box {
    display: none;
    position: absolute;
    width: 250px;
    padding: 20px 0;
    border-radius: 10px;
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    background-color: $white;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      box-sizing: border-box;
      width: 100%;
      padding: 0px 20px;
    }
    a:not(:last-child) {
      border-bottom: 1px solid $white-color;
    }
    a:hover {
      background-color: $black;
      color: $white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border: none;
    }
  }
  &-box1:hover .box1-dropdown {
    display: block;
  }
  &-box2:hover .box2-dropdown {
    display: block;
  }
  &-box3:hover .box3-dropdown {
    display: block;
  }
}
