<main class="vsa">
  <app-welcome-banner [wcBanner]='vsaDummy.WcBanner'></app-welcome-banner>
  <app-browse-jobs [jobList]="vsaDummy.JobList"></app-browse-jobs>
  <app-multistep-info [mlsInfo]='vsaDummy.mlsInfo'></app-multistep-info>
  <app-arrow-banner [arrBanner]='vsaDummy.arrBanner'></app-arrow-banner>
  <app-skill-set [skillSet]='vsaDummy.skillSet'></app-skill-set>
  <app-arrow-banner [arrBanner]='vsaDummy.arrBanner2'></app-arrow-banner>
  <app-buss-list [bussList]='vsaDummy.bussList'></app-buss-list>
  <app-apply [apply]='vsaDummy.apply'></app-apply>
  <app-table [table]='vsaDummy.table'></app-table>
  <app-resources [res]='vsaDummy.res'></app-resources>
  <app-arrow-banner [arrBanner]='vsaDummy.arrBanner3'></app-arrow-banner>
  <app-interested></app-interested>
</main>
