<main class="vsa">
  <app-welcome-banner [wcBanner]='leadershipDummy.WcBanner'></app-welcome-banner>
  <app-browse-jobs [jobList]="leadershipDummy.JobList"></app-browse-jobs>
  <app-multistep-info [mlsInfo]='leadershipDummy.mlsInfo'></app-multistep-info>
  <app-arrow-banner [arrBanner]='leadershipDummy.arrBanner'></app-arrow-banner>
  <app-buss-list [bussList]='leadershipDummy.bussList'></app-buss-list>
  <div class="how-do">
    <h3>How Do I Qualify for Virtual Leadership Roles?</h3>
    <p>Just like office-based Leadership roles, your spot on a virtual team requires you to have a robust history of
      experience in your field. Niche educational experience, professional certifications, as well as at least 5+ years
      related work experience will be needed for you to land one of these well-paying, incredibly rewarding and
      influential roles.</p>
  </div>
  <app-apply [apply]='leadershipDummy.apply'></app-apply>
  <app-table [table]='leadershipDummy.table'></app-table>
  <app-arrow-banner [arrBanner]='leadershipDummy.arrBanner3'></app-arrow-banner>

  <div class="browse">
    <div class="browse-container">
      <div>
        <h3>Browse Other Virtual Jobs</h3>
        <p>Online entrepreneurs and serviced-based business owners are looking for so many different types of part time
          and full time employees, as well as on-going and one-time contract support, in other virtual roles as well!
          <br><br>
          Explore even more virtual, work-from-home roles that support online businesses below:
        </p>
        <button class="red-btn">Browse Other Virtual Jobs</button>
      </div>
      <img src="/assets/images/leadership1.svg" alt="">
    </div>

  </div>
  <app-interested></app-interested>
</main>
