<main class="vsa">
  <app-welcome-banner [wcBanner]='salesDummy.WcBanner'></app-welcome-banner>
  <app-browse-jobs [jobList]="salesDummy.JobList"></app-browse-jobs>
  <div class="first">
    <div>
      <div>
        <h3>
          Land a Virtual Job in Sales!
        </h3>
        <pre>A new way of selling is taking the remote job market by storm and online CEOs and entrepreneurs are at the forefront of this exciting shift: selling their services, products, online programs (and more) in the DMs. Yep, direct messaging.

Gone are the days of cold calling or taking a client out to lunch. Nurturing leads 1:1 via social media platforms like Facebook and Instagram, as well as by SMS messaging, is becoming the primary way to close new online business - and significantly outperforming other sales channels!

Many online businesses still conduct sales calls on Zoom, but regardless of their exact formula for converting leads, these dream virtual sales roles are coming through fast!

        </pre>
      </div>
      <img src="/assets/images/sales3.svg" alt="">
    </div>

  </div>
  <div class="second">
    <div>
      <h3>What is Social Selling?</h3>
      <pre>Social selling is the art of selling via social media. This latest sales strategy involves engaging with existing sales leads, or prospecting for new business, via an online business’ most popular and highest-performing social channels.

Facebook and Instagram are among the top most popular social selling channels, but you can ‘social sell’ via LinkedIn, Twitter, Voxer - any platform with 1:1 messaging! Social selling can also encompass selling via SMS.
      </pre>
    </div>

  </div>
  <app-multistep-info [mlsInfo]='salesDummy.mlsInfo2'></app-multistep-info>
  <app-arrow-banner [arrBanner]='salesDummy.arrBanner'></app-arrow-banner>
  <div class="do-i-container">
    <div class="do-i">
      <div>
        <h3>How Do I Know if I’m Qualified to Be a Social Seller, or for Other Virtual Sales Roles?</h3>
        <pre>
While there are no formal qualifications to land a remote Sales job, a few years experience or interest in Sales
is required.

If you are a great communicator and ‘people person’ who is extremely organized and thrives in a fast-paced role, grab a seat! Sales jobs, especially jobs in online sales, require you to be quick on your feet to reach out and respond to leads when they’re the hottest (hint: time cools them down fast), and have a special tact and talent for making any objections the clients have about buying what your company is selling melt away.

<strong>Looking to gain a competitive edge in your virtual Sales job applications?</strong> Get familiar with sales softwares such as Deadline Funnel, ClickFunnels and Proof; common database tools used by online entrepreneurs like Notion and AirTable; and customer service and chat platforms like Intercom, Zendesk and Drift.
        </pre>
      </div>
      <img src="/assets/images/sales1.svg" alt="">
    </div>
  </div>

  <app-arrow-banner [arrBanner]='salesDummy.arrBanner2'></app-arrow-banner>
  <app-buss-list [bussList]='salesDummy.bussList'></app-buss-list>
  <app-apply [apply]='salesDummy.apply'></app-apply>
  <div class="how-much-container">
    <div class="how-much">
      <div class="how-much-desc">
        <h3>How Much Do Virtual Sales Jobs Pay?</h3>
        <p>
          Virtual Sales or Social Selling roles can be quite lucrative, but each role’s compensation structure is as
          unique as the online business hiring for it. Your salary will depend on the:
        </p>
        <div class="how-much-skill">
          <h2>01</h2>
          <p><strong>Sales Role Type:</strong> if the Sales role is full time, part time or even a short-term contract
            (to help support with a one-time live promotion for example)</p>
        </div>
        <div class="how-much-skill">
          <h2>02</h2>
          <p><strong>Salary Structure:</strong> if the job offers a base salary plus commissions, or a commission-only
            structure.</p>
        </div>
        <div class="how-much-skill">
          <h2>03</h2>
          <p><strong>Commission Structure:</strong> if commissions are tired or fixed per sale</p>
        </div>
      </div>
      <img src="/assets/images/sales2.svg" alt="">
    </div>
  </div>

  <app-resources [res]='salesDummy.res'></app-resources>
  <app-arrow-banner [arrBanner]='salesDummy.arrBanner3'></app-arrow-banner>
  <app-interested></app-interested>
</main>
