@import "/src/assets/scss/colors";

.search-page {
  width: 100vw;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 340px;
    top: 0;
    right: 0;
    background-color: $gray;
    z-index: -1;
  }
  &-header {
    width: 1110px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
  }
  &-body {
    width: 1110px;
    display: flex;
    justify-content: space-between;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  button {
    margin-left: 20px;
  }
  h2 {
    margin: 20px 0 30px;
  }
  > div {
    display: flex;
  }

}


.search-list {
  width: 730px;
  background-color: $white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  h5 {
    color: $black;
  }
  &-title {
    display: flex;
    align-items: center;
    padding: 22px 26px;
    background-color: $white;
    filter: drop-shadow(0px 2px 4px #c4c4c4);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    p {
      margin-right: 20px;
    }
  }
}
.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(32, 59, 91, 0.08);
  border-radius: 10px;
  padding: 40px 25px;

  &-block {
    width: 680px;
    box-shadow: 0px 3px 5px rgba(32, 59, 91, 0.08);
    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &-desc {
      padding: 30px;
      display:flex;
      justify-content: space-between;
      p {
        margin-top: 10px;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    &-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      margin-bottom: 50px;
      div:first-child {
        display: flex;
      }
      button {
        margin-right: 20px;
      }
      .share {
        width: 240px;
        margin: 0;
      }
    }
    &-footer {
      height: 50px;
      background-color: $gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      svg {
        margin-right: 10px;
      }
      p {
        display: flex;
      }
    }
  }
}
.filters {
  background: #ffffff;
  box-shadow: 0px 3px 5px rgba(32, 59, 91, 0.08);
  border-radius: 10px;
  width: 350px;
  padding: 40px 30px;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    &-filter {
      padding: 0px 20px;
      height: 36px;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      align-items: center;
      box-shadow: 0px 3px 5px rgba(8, 86, 77, 0.1);
      border-radius: 65px;
      &:hover {
        color: $dark-blue;
        cursor: pointer;
      }
    }
  }
  &-category {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
    >p{
      color: $black;
      margin-bottom: 20px;
    }
    &-filter {
      display: flex;
      align-items: center;
      margin-top: 10px;
      p{
        margin-left: 10px;
      }
    }
  }
  &-salary {
    margin-top: 20px;
  }
}
.filters-salary-range {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  >div {
    display: flex;
    flex-direction: column;
    width: 135px;
    label {
      margin-left: 18px ;
    }
  }
}
