<main class="vsa">
  <app-welcome-banner [wcBanner]='edidDummy.WcBanner'></app-welcome-banner>
  <app-browse-jobs [jobList]="edidDummy.JobList"></app-browse-jobs>
  <app-multistep-info [mlsInfo]='edidDummy.mlsInfo'></app-multistep-info>
  <app-arrow-banner [arrBanner]='edidDummy.arrBanner'></app-arrow-banner>
  <app-skill-set [skillSet]='edidDummy.skillSet'></app-skill-set>
  <app-arrow-banner [arrBanner]='edidDummy.arrBanner2'></app-arrow-banner>
  <app-buss-list [bussList]='edidDummy.bussList'></app-buss-list>
  <app-apply [apply]='edidDummy.apply'></app-apply>
  <app-table [table]='edidDummy.table'></app-table>
  <app-resources [res]='edidDummy.res'></app-resources>
  <app-arrow-banner [arrBanner]='edidDummy.arrBanner3'></app-arrow-banner>
  <app-interested></app-interested>
</main>
