
<div class="vsa">
  <app-welcome-banner [wcBanner]='rfeDummy.WcBanner'></app-welcome-banner>
  <div class="rfe">

    <div class="crafting">
      <div>
        <h3>How do I know when I’m ready to hire?</h3>
        <p class="smaller-p smaller-p-gray">You’re already juggling ‘all the things’ in your business and you know you
          needed an extra pair of hands on your team (like, yesterday) which is where we come in! Let us take care of
          (copy to be completed here…) </p>
        <button class="border-btn">Learn more →</button>
      </div>
      <img src="/assets/images/rfe1.svg" alt="">
    </div>

    <div class="skillset">
      <h3>Tips to record your unique intro video...</h3>
      <div class="skillset-skills">
        <div class="skillset-skill" *ngFor="let skill of rfeDummy.skillSet.skills">
          <h2>{{skill.number}}</h2>
          <p>{{skill.text}}</p>
        </div>
      </div>
    </div>

    <div class="steps">
      <div class="step2">
        <h5>Resuorses</h5>
        <h3>Crafting a highly effective job listing </h3>
        <p class="smaller-p smaller-p-gray">Let us help by hand-selecting and hiring you the high-impact virtual team of
          your dreams. In our Done-For-You
        </p>
        <button class="border-btn">Learn more →</button>
      </div>

      <div class="step">
        <img src="/assets/images/rfe2.svg" alt="">
        <div>
          <h3>Who should I hire first? </h3>
          <p class="smaller-p smaller-p-gray">Let us help by hand-selecting and hiring you the high-impact virtual team of
            your dreams. In our Done-For-You
          </p>
          <button class="border-btn">Learn more →</button>
        </div>
      </div>

      <div class="step2">
        <h3>Set yourself up for success before you hire (decide on pay, benefits, company promise and more!) </h3>
        <p class="smaller-p smaller-p-gray">Let us help by hand-selecting and hiring you the high-impact virtual team of
          your dreams. In our Done-For-You
        </p>
        <button class="border-btn">Learn more →</button>
      </div>

      <div class="step">
        <div>
          <h3>How to hire in 4-Steps (+ What is a Test Project?) </h3>
          <p class="smaller-p smaller-p-gray">Operation a virtual business has its own set of challenges, which is why all
            of our tools and templates are built with you exclusively in mind. From onboarding to meeting structures,
            there’s something here for you
          </p>
          <button class="border-btn">Learn more →</button>
        </div>
        <img src="/assets/images/rfe3.svg" alt="">
      </div>

      <div class="step2">
        <h3>Role Structures: Full-time, part-time or contractor - what do I need? </h3>
        <p class="smaller-p smaller-p-gray">Let us help by hand-selecting and hiring you the high-impact virtual team of
          your dreams. In our Done-For-You </p>
        <button class="border-btn">Learn more →</button>
      </div>

      <div class="step">
        <img src="/assets/images/rfe5.svg" alt="">
        <div>
          <h3>How to hire the perfect fit the first time (no future firing) with our Values-Based Interview Process</h3>
          <p class="smaller-p smaller-p-gray">Operation a virtual business has its own set of challenges, which is why all
            of our tools and templates are built with you exclusively in mind. From onboarding to meeting structures,
            there’s something here for you
          </p>
          <button class="border-btn">Learn more →</button>
        </div>
      </div>

      <div class="step2">
        <h3>Role Structures: Full-time, part-time or contractor - what do I need? </h3>
        <p class="smaller-p smaller-p-gray">Let us help by hand-selecting and hiring you the high-impact virtual team of your dreams. In our Done-For-You
        </p>
        <button class="border-btn">Learn more →</button>
      </div>

      <div class="step">
        <img src="/assets/images/rfe6.svg" alt="">
        <div>
          <h3>How to hire the perfect fit the first time (no future firing) with our Values-Based Interview Process</h3>
          <p class="smaller-p smaller-p-gray">Operation a virtual business has its own set of challenges, which is why all of our tools and templates are built with you exclusively in mind. From onboarding to meeting structures, there’s something here for you
          </p>
          <button class="border-btn">Learn more →</button>
        </div>
      </div>

    </div>

  </div>
  <app-interested></app-interested>

</div>
