@import "/src/assets/scss/colors";

.forgot {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }
  &-container {
    box-shadow: 0px 4px 30px rgba(140, 157, 202, 0.15);

    padding: 40px 30px 40px;
    width: 530px;
    background-color: $white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    button {
      margin: 30px 0 20px;
    }
    a {
      color: $black;
      display: flex;
      align-items: center;
    }
  }
}
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 400px;
    margin: 20px 0;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  a {
    color: $black;
    display: flex;
    align-items: center;
  }
}
