@import "/src/assets/scss/colors";

.carousel-block {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: $gray;
  h3 {
    width: 1110px;
    margin-bottom: 20px;
  }
}
.carousel {
  width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  &-tile {
    width: 350px;
    height: 415px;
    background-color: $white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    img {
      width: 350px;
      height: 265px;
      background-color: gray;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
    > div {
      padding: 20px;
      p {
        font-size: 14px;
        line-height: 21px;
      }
      h5 {
        color: $black;
        width: 260px;
      }
    }
  }
  &-left,
  &-right,
  &-pagination {
    position: absolute;
    z-index: 1;
  }
  &-left,
  &-right {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &-left {
    top: 50%;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%) translateY(-50%);
    -webkit-transform: translateX(-100%) translateY(-50%);
    -moz-transform: translateX(-100%) translateY(-50%);
    -ms-transform: translateX(-100%) translateY(-50%);
    -o-transform: translateX(-100%) translateY(-50%);
    i {
      display: block;
      content: url("/assets/icons/slider.svg");
      transform: rotateZ(180deg);
      -webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg);
      -o-transform: rotateZ(180deg);
    }
  }
  &-right {
    top: 50%;
    right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%) translateY(-50%);
    -webkit-transform: translateX(100%) translateY(-50%);
    -moz-transform: translateX(100%) translateY(-50%);
    -ms-transform: translateX(100%) translateY(-50%);
    -o-transform: translateX(100%) translateY(-50%);
    i {
      display: block;
      content: url("/assets/icons/slider.svg");
    }
  }
  &-pagination {
    width: 62px;
    display: flex;
    justify-content: space-between;
    bottom: -40px;
    right: 50%;
    transform: translateX(50%) translateY(100%);
    -webkit-transform: translateX(50%) translateY(100%);
    -moz-transform: translateX(50%) translateY(100%);
    -ms-transform: translateX(50%) translateY(100%);
    -o-transform: translateX(50%) translateY(100%);
    i {
      display: block;
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      cursor: pointer;
      background-color: rgba($color: $red, $alpha: 0.5);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      &.current {
        background-color: transparent;
        border: 1px solid $red;
      }
    }
  }
}
